<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - net_blog</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body>
    <div>
            @RenderBody()
    </div>
    @(await Html.RenderComponentAsync<Counter>(RenderMode.Server));
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
