@model ICollection<PostView>
@{
    ViewData["Title"] = "Home Page";
}

<p class="font-bold text-xl mt-3 text-center">Posts</p>

<div class="mx-auto py-4 px-6 flex flex-col w-4/5">
@{
    foreach(var post in Model)
    {
        @await Html.PartialAsync("~/Views/Posts/_Post.cshtml", post)
        ;
    }
}
</div>