@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="trix-content">Stored content here</div>
        <input id="x" type="hidden" name="content">
        <trix-editor class="trix-content"></trix-editor>
</div>
