@model PostInput
@{
    ViewData["FormAction"] = "Update";
}

<p class="font-bold text-xl mt-3 text-center">Update Post</p>

<div class="basis-10/12 mx-auto py-4 px-6">
    @await Html.PartialAsync("_Form", Model)
</div>
