@model PostsView
@{
    ViewData["Title"] = "Home Page";
}

<p class="font-bold text-xl mt-3 text-center">Posts</p>

<div class="mx-auto py-4 px-6 flex flex-col w-4/5">
@{
    foreach(var post in Model.Posts)
    {
        @await Html.PartialAsync("_Post.cshtml", post)
    }
}
</div>

<div class="flex justify-center mt-4">
    <nav class="inline-flex">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <a href="@Url.Action("Index", new { page = i })" class="mx-1 px-3 py-1 rounded-md bg-indigo-600 text-white hover:scale-125 transform transition duration-1">@i</a>
        }
    </nav>
</div>