@model PostView
@inject UserManager<User> UserManager

<div class="flex justify-center ">
	<div class="basis-10/12 mx-auto py-4 px-6">
		@await Html.PartialAsync("_Post", Model)

		@{
			var usr = await UserManager.Users.Include(u => u.Posts).FirstOrDefaultAsync(u => u.UserName == User.Identity.Name);

			if (usr != null && usr.Posts.Any(p => p.Id == Model.Id))
			{
				<div class="float-left mt-3">
					<a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">
						Edit
					</a>
					@await (Html.RenderComponentAsync<DeleteConfirmation>(RenderMode.ServerPrerendered, new {IsOpen = false, PostView = Model }))
				</div>
			}


			if (usr != null)
			{
				<p class="font-bold text-l mt-12 pt-5 text-left">Comments</p>
				<div>
					<form asp-controller="Comments" asp-action="Create">
						<input type="hidden" id="PostId" name="PostId" value="@Model.Id">
						<textarea id="Body" name="Body" class="w-full bg-white border border-gray-300 rounded-md p-2 mb-2 focus:outline-none focus:ring focus:border-blue-300" rows="3" placeholder="Add a comment..."></textarea>
						<div class="flex justify-end">
							<button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Comment</button>
						</div>
					</form>
				</div>
			}
		}

		@foreach (var comment in Model.Comments)
		{
			<div class="bg-white p-4 rounded-lg mb-2">
				<p>@comment.Body</p>
			</div>
		}

	</div>
</div>
